@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a class="display-6 text-dark" asp-area="" asp-controller="products" asp-action="Index">Click here to view Products</a>

</div>
